<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  href="/styles/tailwind" rel="stylesheet">
    <title>Go-lift</title>
</head>
<body>
    <h1>Workout: <h1>
    <p>{{ .Date }}</p>
    <h2>Exercises</h2>
    {{ range .Exercises }}
        <h3>{{ .Name }} : </h3>
        {{ range .Sets }}
            <p>Set: {{ .SetNumber }} - Weight: {{ .Weight }} - Reps: {{ .Reps }}</p>
        {{ end }}
    {{ end }}

    <div class="grid gap-2 grid-flow-row auto-rows m-5 p-2 bg-zinc-300 rounded-lg ">
        <div class="bg-zinc-200 rounded-lg px-3 py-1 text-center justify-self-center">
            <span class="font-semibold">Incline DB Press</span>
        </div>
        <div class="bg-zinc-400 rounded-lg px-2">
            <span class="justify-center ">
                <div class="grid grid-cols-3 gap-1 text-white font-medium">
                   <div class="text-center">Set:</div>
                   <div class="text-center">Weight:</div> 
                   <div class="text-center">Reps:</div>
                </div>
            </span>
        </div>
            <div class="bg-zinc-200 rounded-lg px-2">
            <span class="justify-center ">
                <div class="grid grid-cols-3 gap-1 ">
                   <div class="text-center">1</div>
                   <div class="text-center">20 kg</div> 
                   <div class="text-center">10</div>
                </div>
            </span>
        </div>
    </div>
</body>
</html>